<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/characterCreator.css">
    <link rel="stylesheet" href="css/characterViewer.css">

    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

    <div class="header">
        <a class="headerButton" href="/characterCreator" role="button">Character Creator</a>
    </div>

    <div class="container title">
        <h1>Character Viewer</h1>
    </div>

    <div class="characterCardsContainer"></div>
</body>

<script src="js/characterViewer.js"> </script>

</html>